---
interface Props {
  to: string;
}

const { to } = Astro.props;
---

<meta http-equiv="refresh" content={`0;url=${to}`} />

<script define:vars={{ to }}>
  window.location.href = to;
</script>

<p>Redirecting you to <a href={to}>{to}</a>...</p>
